*.DS_Store
*.ini
.vscode
/advancements
/DIM1
/DIM-1
/dimensions
/entities
/playerdata
/generated
/poi
/region
/scripts
/stats
/carpet.conf
/icon.png
/level.dat
/level.dat_old
/retired_datapacks
/data
session.lock
